{% extends "layout.html" %}

{% block title %}
    Home Page (Index)
{% endblock %}

{% block main %}
    <img src="/static/images/mensen.png" class="mensen">
    <div class="index-container">
        <h1>Welkom bij Musicmatch, {{username}}!</h1>
        <p>Klaar om je ideale match te vinden?</p>
        <h2>Beantwoord een paar leuke vragen en vind mensen met dezelfde muzieksmaak.</h2>
        <a href="/question/1" class="btn btn-primary btn-left">Start Test</a>
        <p>Wil je je profiel aanpassen?</p>
        <h2>Vul je profiel aan en maak het makkelijker voor anderen om je te leren kennen.</h2>
        <a href="/profile/me" class="btn btn-primary btn-left">Aanpassen</a>
    </div>
{% endblock %}
