{% extends "layout.html" %}

{% block title %}
    Matches Weergave
{% endblock %}

{% block main %}
    <h6>Mijn Top Matches</h6>

    {% if matches %}
        <div class="matches-container">
            {% for match, percentage in matches %}
                <div class="match-card">
                    <h2>{{ match.username }}</h2>
                    <p>Match Percentage: <strong>{{ percentage }}%</strong></p>
                    <a href="{{ url_for('view_profile', user_id=match.id) }}" class="btn btn-primary btn-center-small">Bekijk Profiel</a>
                </div>
            {% endfor %}

        </div>
            <p class="aanpassen_profiel-text">Zorg ervoor dat je matches jou kunnen vinden! <strong>Vul je profiel aan</strong> voor de beste connecties!</p>
            <a href="/profile/me" class="btn btn-primary btn-center-small">Aanpassen</a>
    {% else %}
        <h5>Je hebt nog geen matches. Als je de test nog niet heb voltooid, voltooi dan de test om je matches te bekijken!</h5>
        <a href="{{ url_for('question', question_id=1) }}" class="btn btn-primary btn-center-small">Start de test</a>
    {% endif %}
    {% if matches %}
    {% endif %}

{% endblock %}
