{% extends "layout.html" %}

{% block title %}
    Matches
{% endblock %}

{% block main %}
    <h2>Mijn Top Matches</h2>

    {% if matches %}
        <ul>
            {% for match, percentage in matches %}
                <li>
                    Jij bent voor {{ percentage }}% een match met 
                    <a href="{{ url_for('view_profile', user_id=match.id) }}">{{ match.username }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Je hebt nog geen matches. Voltooi de test om je matches te bekijken!</p>
        <a href="{{ url_for('question', question_id=1) }}">Start de test</a>
    {% endif %}
{% endblock %}
