{% extends "layout.html" %}

{% block title %}
    Questions
{% endblock %}

{% block main %}
    <h3>{{ question.question_text }}</h3>
    <img src="/static/images/cirkel.png" class="cirkel">
    <form action="" method="post">
        {% for answer in question.answers %}  
            <input type="radio" name="answer_id" value="{{ answer.id }}">
            <label>{{ answer.answer_text }}</label><br>
        {% endfor %}
        <button type="submit">Volgende Vraag</button>
    </form>
{% endblock %}
