{% extends "layout.html" %}

{% block title %}
    Rangschik de Nummers
{% endblock %}

{% block main %}
    <h1>Nummers Rangschikken</h1>
    <h4> Je bent bijna klaar met de test! Selecteer de rangorde van jouw favoriete nummers. 
        Geef elk nummer een unieke rangorde. Zet je favoriete nummer op 1 en je minst favoriete op 5.</h4>

    <form action="/rank" method="post">
        <div class="mb-5">
            <h5>Shape of You - Ed Sheeran</h5>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7qiZfU4dY1lWllzX7mPBI3?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <label for="rank1"></label>
            <select id="rank1" name="rank1">
                <option value="">Kies een rang</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-5">
            <h5>Don't Stop Believin' - Journey</h5>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/77NNZQSqzLNqh2A9JhLRkg?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <label for="rank2"></label>
            <select id="rank2" name="rank2">
                <option value="">Kies een rang</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-5">
            <h5>God's Plan - Drake</h5>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6DCZcSspjsKoFjzjrWoCdn?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <label for="rank3"></label>
            <select id="rank3" name="rank3">
                <option value="">Kies een rang</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-5">
            <h5>Bad Guy - Billie Eilish</h5>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2Fxmhks0bxGSBdJ92vM42m?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <label for="rank4"></label>
            <select id="rank4" name="rank4">
                <option value="">Kies een rang</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="mb-5">
            <h5>Another One Bites The Dust - Queen</h5>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5vdp5UmvTsnMEMESIF2Ym7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <label for="rank5"></label>
            <select id="rank5" name="rank5">
                <option value="">Kies een rang</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <button type="submit" value="Submit">Verzend Rangschikking</button>
    </form>
{% endblock %}
